services:
  ros2api_bridge:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ros2api_bridge
    runtime: nvidia
    ports:
      - "8080:8001"          # 호스트 8080 -> 컨테이너 8001

    ipc: host
    privileged: true

    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=30
      - ROS_LOCALHOST_ONLY=0
      - ROS_SUPER_CLIENT=true
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    command: /start.sh
